.sidebar {
    background-color: var(--background-color-2);
    padding: 10px;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.404);
    max-width: 10rem;
    min-width: 8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar__btn {
    padding: 10px;
    background-color: var(--btn-color-0);
    color: white;
}

@media screen and (max-width: 748px) {
    .sidebar {
        min-width: 100%;
        min-height: 12vh;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .game-page-container {
        flex-wrap: wrap;
    }
    
    .game-content {
        margin-left: 2rem;
    }
}