:root {
    /* Main */
    --background-color-0: #b59696;
    --background-color-1: rgb(237 237 237 / 52%);
    --background-color-2: #e8dcdc;
    /* Grid */
    --zoom: 1rem;
    --grid-color: #d9c6c6;
    --grid-border-color: black;
    --cell-border-color: black;
    --background-image: '';
    /* Tokens */
    --token-radius: 50%;
    --token-selected-color: #6767fd;
}

* {
    content: border-box;
}

body {
    margin: 0px;
    height: 100%;
    background-color: var(--background-color-0);
    font-size: 100%;
}

.game-page-container {
    display: flex;
    gap: 1rem;
}

.game-content {
    max-width: 80vw;
    height: 100vh;
    margin-right: 0.8rem;
    position: relative;
}
