.toolbar {
    width: 98%;
    background-color: var(--background-color-2);
    display: flex;
    padding: 10px;
    box-shadow: 0 1px 6px 1px rgb(172 172 172 / 50%);
    gap: 0.5rem;
}

.toolbar__leave-btn {
    cursor: pointer;
    margin-top: 0.5rem;
}

.players-list {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    background-color: grey;
    color: white;
    padding: 0.5rem;
}

.toolbar__btn {
    background-color: #7f6d6d;
    color: white;
}