<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <!-- Scripts -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../scripts/utils.js"></script>
    <script src="../scripts/dashboard.js"></script>
    <script>
        let roomCode;
    </script>
    <!-- Routes -->
    <script src="../scripts/routes/dashboard.route.js"></script>
</head>
<body>
    <h1>Dashboard</h1>
    <section class="dashboard-container">
        <form onsubmit="joinRoom(roomCode, event)" class="form--join-room">
            <input placeholder="room code" onchange="roomCode = event.target.value">
            <button type="submit">Join Room</button>
        </form>
        <div class="games-list">
            <div class="games-list__content"></div>
        </div>
    </section>
</body>
</html>