<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Virtual Table</title>
    <!-- Socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../build/styles.css">
    <link rel="stylesheet" href="../build/grid.css">
    <link rel="stylesheet" href="../build/token.css">
    <link rel="stylesheet" href="../build/sidebar.css">
    <link rel="stylesheet" href="../build/toolbar.css">
    <link rel="stylesheet" href="../build/menus.css">
    <link rel="stylesheet" href="../build/dashboard.css">
    <link rel="stylesheet" href="../build/character-sheet-main.css">
    <link rel="stylesheet" href="../build/new-character.css">
    <link rel="stylesheet" href="../build/output.css">
    <link rel="stylesheet" href="../build/creatures.css">
    <!-- Scripts -->   
    <script src="../scripts/grid.js"></script>
    <script src="../scripts/token.js"></script>
    <script src="../scripts/input.js"></script>
    <script src="../scripts/menus/token.menu.js"></script>
    <script src="../scripts/menus/map.menu.js"></script>
    <script src="../scripts/menus/character.menu.js"></script>
    <script src="../scripts/dashboard.js"></script> 
    <script src="../scripts/character-sheet.js"></script>
    <script src="../scripts/creatures.js"></script>
    <script src="../scripts/new-character.js"></script>
    <script src="../scripts/creature-stats.js"></script>
    <script src="../scripts/utils.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://kit.fontawesome.com/6d76b9eca9.js" crossorigin="anonymous"></script>
    <!-- Routes -->
    <script src="../scripts/routes/users.route.js"></script>
    <script src="../scripts/routes/tokens.route.js"></script>
    <script src="../scripts/routes/maps.route.js"></script>
    <script src="../scripts/routes/dashboard.route.js"></script>
    <script src="../scripts/routes/characters.route.js"></script>
    <script src="../scripts/routes/creatures.route.js"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page-container">
        <section class="dashboard-page-container">
            <h1 class="page-title">Dashboard</h1>
            <div class="dashboard-container">
                <form onsubmit="joinPlayer(roomCode, event)" class="form--join-room">
                    <input id="room-code-input" placeholder="room code" onchange="roomCode = event.target.value" value="" required>
                    <button type="submit">Join Room</button>
                </form>
                <div class="games-list">
                    <div class="games-list__content"></div>
                </div>
                <button onclick="logout()" class="button btn--hover btn--logout">Log out</button>
            </div>
        <section>
    </div>
</body>
</html>