<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../build/styles.css">
    <!-- Scripts -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../scripts/utils.js"></script>
    <!-- Routes -->
    <script src="../scripts/routes/users.route.js"></script>
    <script>
        let username, password;
    </script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <center class="login-page-container">
        <h1>Login</h1>
        <form class="login-form" onsubmit="loginUser({username: username, password: password}, event)">
            <input placeholder="username" onchange="username = event.target.value" required>
            <input placeholder="password" type="password" onchange="password = event.target.value" required>
            <button type="submit">Login</button>
        </form>
        <a class="login-link" href="/register">Register</a>
    </center>
</body>
</html>