.grid-container {
    overflow-y: auto;
    width: 80%;
    height: 90vh;
}

.grid-container--no-scroll {
    overflow: hidden;
}

#grid {
    border-collapse: collapse;
}

.grid__cell {
    border: 1px solid black;
    text-align: center;
    position: relative;
    padding: 2.4rem;
    text-align: center;
    vertical-align: middle;
}
