.sidebar {
    background-color: var(--sidebar-background-color);
    padding: 0.3rem 4rem;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.404);
}

@media screen and (max-width: 748px) {
    .sidebar {
        width: 100%;
        min-height: 12vh;
    }

    .game-page-container {
        flex-wrap: wrap;
    }
    
    .game-content {
        margin-left: 2rem;
    }
}