.token {
    position: absolute;
    border: 3px solid rgba(255, 255, 255, 0);
}

.token--medium {
    width: 70px;
    right: 0px;
    bottom: 0px;
}

.token--large {
    width: 140px;
    right: 5px;
    bottom: 5px;
}

.token--dragging {
    opacity: 60%;
    cursor: grabbing;
}

.token--selected {
    border: 3px solid blue;
    border-radius: 50%;
}